html,
body {
  padding: 0;
  margin: 0;
}

.TextControl_readonly:after {
  border-bottom-color: var(--colorNeutralStrokeDisabled) !important;
}

.FormBody_scrollview > div {
  display: flex;
  flex-direction: column;
  padding: var(--spacingVerticalM);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fui-MenuItem__icon > svg,
.fui-Button__icon > svg {
  width: inherit;
  height: inherit;
}
