.TextControl_readonly:after {
  border-bottom-color: var(--colorNeutralStrokeDisabled) !important;
}

.FormBody_scrollview > div {
  display: flex;
  flex-direction: column;
  padding: var(--spacingVerticalM);
}
